<h1>Movies 📼</h1>

<div class="carousel">
    <mat-card *ngFor="let movie of movies;"
        style="flex: 1 1 auto;">
        <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>
                Directed by: <span
                    *ngFor="let director of movie.director_ids; let isLast=last">{{director.name}}{{isLast ? '' : ', '}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.imageurl}}
            alt={{movie.title}} />
        <mat-card-subtitle>Released: {{movie.release | date:'fullDate'}}</mat-card-subtitle>
        <mat-card-subtitle>
            Genre(s): <span
                *ngFor="let genre of movie.genre_ids; let isLast=last">{{genre?.name}}{{isLast ? '' : ', '}}</span>
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{movie.description | slice:0:100}}...</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button
                color="primary">
                Details
            </button>
            <button mat-icon-button (click)="toggleFavorite(movie._id)">
                <mat-icon *ngIf="favoritedMovies.includes(movie._id); else notFavorited">favorite</mat-icon>
                <ng-template #notFavorited><mat-icon>favorite_border</mat-icon></ng-template>
            </button>
        </mat-card-actions>
    </mat-card>
</div>